{
  "singleQuote": false,
  "printWidth": 200,
  "proseWrap": "always",
  "tabWidth": 2,
  "useTabs": false,
  "trailingComma": "all",
  "bracketSpacing": true,
  "bracketSameLine": true,
  "semi": true
}
